<div class="content-category-carousel">
  <h1>{{ categoryData().header }}</h1>

  <div class="carousel-container">
    <button
      class="scroller-button"
      id="button-left"
      [class.disable]="!list.canScrollStart"
      (click)="list.scroll(-1)"
    >
      <
    </button>

    <div class="list" appScrollable #list="appScrollable" [scrollUnit]="300">
      @for (categoryItem of categoryData().data; track $index)
      {<content-card-vertical [cardData]="categoryItem" />}
    </div>

    <button
      class="scroller-button"
      id="button-right"
      [class.disable]="!list.canScrollEnd"
      (click)="list.scroll(1)"
    >
      >
    </button>
  </div>
</div>
